:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #888;
}
*{
    box-sizing: inherit;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

body{
    margin: 0px;
    overflow: auto;
}

html{
    font-size: 62.5%; /* = 1rem, 100% = 1.6rem */ 
    line-height: 1.2rem;
    font-family: 'Roboto', sans-serif; /* if can't find font roboto then find san-serif */
    box-sizing: border-box;
}

 .grid__full-width{
     width:100%;
 }
 .grid__row{
     display: flex;
     flex-wrap: wrap;
 }

 /* Animation */
 @keyframes RiseUpSlidebar {
    from {
        top: 120%;
        opacity: 0;
    }

    to {
        top: 90%;
        opacity: 1;
    }
        
}

