.header {
    height:40px;
    background-color: #222;
}

.header_navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: auto 0px ; 
    display: flex; 
}

.header__navbar-item, .header__navbar-item-link{
    color: #f5f5f5;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    line-height:40px;
    position: relative;
    cursor: pointer;
}

.header__navbar-language-item:hover .header__subnav-language{ 
    display: block;
    
}

.header__navbar-currency-item:hover .header__subnav-currency-unit{
    display: block;
}

.header__navbar-item-link:hover{
    color: #e34444;
    cursor: pointer;
}

.header__navbar-item-link:hover i {
    color: #6f6f6f;
}

.header__navbar-img{
    margin-right: 4px;
}

.header__navbar-icon-select::before{
    content: "";
    display: block;
    position: absolute;
    margin-right: 7px;
    margin-top: -14px;
    margin-left: 3px;
}

.header__navbar-seperate{
    border-left: 1px solid #363636;
    box-sizing: border-box;
    position: absolute;
    height: 10px;
    left: -15px;
    top: 15px; 
}

.header__navbar-item--wall{
    margin: 0 20px;
}

.header__navbar-item--wall::after{
    content: "";
    display: block;
    position: absolute;
    height:40px;
    border-left: 1px solid #363636;
    top: 0px;
    left: -22px;    
} 

.header__navbar-item--wall-right::before{
    content: "";
    display: block;
    position: absolute;
    border-right: 1px solid #363636;
    height: 40px;
    top: 0px;
    right: -20px;   
} 

nav:first-child li:first-child{
    margin-right: 40px; 
}

.header_navbar-icon{
    margin-right:12px;
}

/* css for subnav///////////////////////////////////////////////////////////////////////// */
.header__subnav-language, .header__subnav-currency-unit{
    position: absolute;
    background-color: var(--white-color);
    width:96px;
    transform-origin: left top;
    animation: RiseUp ease-in 0.3s;
    will-change: opacity, transform;
    display:none;
    border: 2px solid #f5f5f5;
}

@keyframes RiseUp {
    from {
        top: 50px;
        opacity: 0;
    }

    to {
        top: 40px;
        opacity: 1;
    }
        
}

.header__subnav-language::before{
    content: "";
    position: absolute;
    border:10px solid;
    top: -18px;
    left: 18px;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__subnav-language::after, .header__subnav-currency-unit::before{
    content: "";
    position: absolute;
    width:96px;
    right:-2px;
    top:-30px;
    height:30px;
    /* background-color:red; */
}

.header__subnav-currency-unit::after{
    content: "";
    position: absolute;
    border:10px solid;
    top: -18px;
    left: 22px;
    border-color: transparent transparent var(--white-color) transparent;
}


.header__subnav-language-list, .header__subnav-currency-unit-list{
    padding: 0;
}

.header__subnav-language-item{
    
    padding:7px 0 7px 10px;
    width: 100%;
    list-style-type: none;
    line-height:19px;
}

.header__subnav-language-item:hover, .header__subnav-currency-unit-item:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

.header__subnav-language-img{
    width: 16px;
    height: 12px;
    margin-right: 2px;
    position: relative;
    top: 1px;
}

.header__subnav-language-text, .header__subnav-currency-name {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.header__subnav-currency-unit-item{
    padding:5px;
    width: 100%;
    list-style-type: none;
    line-height:19px;
}  

.header__subnav-language-item:hover, .header__subnav-currency-unit-item:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

.header__subnav-currency-unit-name{
    text-decoration: none;
    font-size: 1.2rem;
    color: #888;
}

.header__subnav-currency-unit-item{
    height: 20px;
    width:86px;
    background-color: var(--white-color);
    list-style-type: none;
    padding: 5px;
    box-sizing: content-box;
    line-height: 20px;
    text-transform: uppercase;
}

.header__subnav-arrow-unit{
    position: absolute;
    border:10px solid;
    top: 22px;
    left: 22px;
    border-color: transparent transparent var(--white-color) transparent;
} 

/* CSS slider/////////////////////////////////////////////////////////////////////////////// */
.slider {
    display: flex;
    justify-content: space-between;
    height: 118px;
    width:100%;
    background-color: var(--white-color);
}

.slider__logo{
    display: flex;
    align-items: center;
    
}

.slider__contain{
    display: flex;
    align-items: center;
    width:900px;
    
}

.slider__contain-list{
    padding-left:8px;
    list-style-type: none;
    display: flex;
    align-items: center;
    height:40px;
    width:33.3%;
    
}

.slider__contain-list-icon {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 100%;
    text-align: center;
    overflow: hidden;
    background: #eaeaea;
    margin-right: 12px;
}
.slider__contain-list-icon::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    background: #e34444; 
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s ease-in;
} 
.slider__contain-list:hover .slider__contain-icon{
    color: #fff;

}

.slider__contain-list:hover > .slider__contain-list-icon::after{
    transform: scaleY(1);
}



.slider__contain-icon{
    font-size: 1.2rem;
    position: relative;
    color: #666;
    height: 40px;
    top:14px;
    z-index: 1;
}

.slider_list-item{
    list-style-type: none;
    line-height: 40px;
}

.slider__list-text-name{
    display: block;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 20px;
    margin-top: -2px;
    margin-bottom: 4px;
    color: #555;
}

.slider_list-text-dec{
    color: var(--text-color);
    font-size: 1.2rem;
}


.slidebar {
height: 56px;
width: 100%;
/* background-color: bisque; */
display: flex;
justify-content: space-between;
position: relative;
}

.slidebar::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-image: url(../img/double-dotted.png);
    left:0;
    top:0;
}

.slidebar::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-image: url(../img/double-dotted.png);
    left:0;
    bottom:0;
}

.slidebar__list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.slidebar__list-item{
    display:flex;
    padding:0 20px 0 0;
    list-style-type: none;
    height: 100%;
    align-items: center;
    margin-left: 10px; 
}

.slidebar__list li:first-child{
    margin-left: 0;
}

.slidebar__list-item:hover .slidebar__list-item-link{
    color: #e34444;
}

.slidebar__list-item-link{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;

}

.slidebar__right{
    display: flex;

}

.slidebar__right-search{
    font-size: 1.5rem;
    line-height: 56px;
    color: #666;
    width:50px;
    text-align: center;
}


.slidebar__right-cart{
    display: inline-block;
    text-decoration: none;
    color: #666;
    font-size: 1.2rem;
    line-height: 56px;
    padding-left: 6px;
}

.slidebar__right-cart > i{
    margin-right: 5px;
    width: 40px;
    text-align: right;
    border-left: 1px solid #eaeaea;
    height:20px;
    line-height:20px;
    align-items: center;
    
}

.slidebar__right-number{
    color: #e34444;
}
/* /////////CSS for sublist of home/////////////////////////////// */

.slidebar__home-sublist{
    position: absolute;
    background-color: #fff;
    width: 220px;
    padding:15px 0;
    top:50px;
    list-style-type: none;
    border: 1px solid #eaeaea;
    z-index: 1;
    display: none;
    transform-origin: left top;
    animation: RiseUpSlidebar ease-in 0.3s;
    will-change: opacity, transform;
}



.slidebar__home-sublist::before{
    content: "";
    position: absolute;
    border:11px solid;
    top: -21px;
    left: 6px;
    border-color: transparent transparent #eaeaea transparent;
    
}
.slidebar__home-sublist::after{
    content: "";
    position: absolute;
    border:10px solid;
    top: -19px;
    left: 7px;
    border-color: transparent transparent #fff transparent;
    
}

.slidebar__sublist-item{   
    width:100%;
    padding:4px 20px; 
}

.slidebar__sublist-item-link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight:400;
    width: 100%;
    line-height:20px;
    color: #555;
    box-sizing:content-box;
    
}

.slidebar__sublist-item-link:hover{
    color: #e34444;
}

.slidebar__sublist-item:first-child > a, .slidebar_list-item-home:first-child > a{
    color: #e34444;
}

.slidebar_list-item-home:hover > .slidebar__home-sublist{
    display: block;
    
}
.slidebar_list-item-home:hover .slidebar__home-sublist{
    transform: scaleY(1);

}


/* /////////CSS for sublist of furniture/////////////////////////////// */
.slidebar__furniture-sublist{
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    border: 1px solid #eaeaea;
    z-index: 1;
    display:none;
    transform-origin: left top;
    animation: RiseUpSlidebar ease-in 0.3s;
    will-change: opacity, transform;
    
}




.slidebar__furniture-sublist::before{
    content: "";
    position: absolute;
    border:11px solid;
    top: -21px;
    left: 71px;
    border-color: transparent transparent #eaeaea transparent;
    
}
.slidebar__furniture-sublist::after{
    content: "";
    position: absolute;
    border:10px solid;
    top: -19px;
    left: 72px;
    border-color: transparent transparent #fff transparent;
    
}

.slidebar__furniture-sublist-col{
    display: flex;
    padding: 20px 15px 20px 15px;
    margin-left: 0;

}

.slidebar__furniture-col-item{
    width: 25%;
    list-style-type: none;
}

.slidebar__furniture-col-item > h4 {
    width: 90%;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-bottom: 6px;
    border-bottom: 1px solid #eaeaea;
    color: #333;
    font-weight: bold;
    margin: 10px 15px 14px;
}

.slidebar__table-list{
    margin-left: 0;
    padding: 0;
}

.slidebar__table-list-item{
    list-style-type: none;
}



.slidebar__table-list-link{
    text-decoration: none;
    padding: 2px 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;

    color: var(--text-color);
}

.slidebar__table-list-link:hover{
    color:#e34444;
}

.slidebar_list-item-furniture:hover .slidebar__furniture-sublist{
      display: block;
}

/* /////////CSS slidebar__banner//////////////////////////////////////////////////// */
.slidebar__banner{
   display: flex;
   justify-content: space-evenly;
   padding-bottom:30px ;

}

.slidebar__banner-list{
    position: relative;

}
.slidebar__banner-link{
    position: relative;
    width: 555px;
    height: 122px;
    display:block;
}
.slidebar__banner-link:hover:before{
    right: 50%;
    left: 50%;
    background: rgba(255, 255, 255, 0.2);
}

.slidebar__banner-link::before{
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background-color:beige; */
    transition: all 0.6s ease-in-out;
}

.slidebar__banner-link:hover:after{
    top: 50%;
    bottom: 50%;
    background: rgba(255, 255, 255, 0.2);
}
.slidebar__banner-link::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background-color:beige; */
    transition: all 0.6s ease-in-out;
}

.slidebar__banner-link > img{
    width: 100%;
    height:100%;

}

/* ////CSS Slidebar__bedroom////////////////////////////////////////////////////////////// */

.slidebar__bedroom-sublist{
    max-width:100%;
    display: flex;
    position: absolute;
    background-color: #fff;
    border: 1px solid #eaeaea;
    left:0px;
    top:50px;
    z-index: 1;
    padding:30px 0px 20px 0;
    justify-content:space-evenly; 
    width: 100%;
    transform-origin: left top;
    animation: RiseUpSlidebar ease-in 0.3s;
    will-change: opacity, transform;
    display: none; 
}

.slidebar__bedroom-sublist::before{
    content: "";
    position: absolute;
    border:11px solid;
    top: -21px;
    left: 365px;
    border-color: transparent transparent #eaeaea transparent;
    
}
.slidebar__bedroom-sublist::after{
    content: "";
    position: absolute;
    border:10px solid;
    top: -19px;
    left: 366px;
    border-color: transparent transparent #fff transparent;
    
}

.slidebar__list-item-bedroom:hover .slidebar__bedroom-sublist{
    display: block;
    display: flex;
    justify-content: space-evenly
} 

.slidebar_bedroom-sublist-item{
    display: flex;
    list-style-type: none;
    
    /* padding: 10px 15px 0;  */
}

.slidebar_bedroom-item-contain{
    width: 255px;
}

.slidebar__bedroom-item-figure {
    width:255px;
    height: 152px;
    overflow: hidden;
}

.slidebar__bedroom-item-img{
    width:255px;
    height: 152px;
    transition: all .2s linear;
}

.slidebar__bedroom-item-img:hover {
    transform: scale(1.1);
    filter: brightness(80%);
}

.slidebar__bedroom-item-title {
    width:100%;
    margin:15px  0 10px 0;
}


.slidebar__bedroom-item-title a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

.slidebar__bedroom-item-title a:hover{
    color: #e34444;
}

.slidebar__bedroom-item-text {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 400;
    color: #666;
    line-height: 2rem;
}

/* /////////CSS for sublist of shop/////////////////////////////// */
.slidebar__shop-sublist{
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    border: 1px solid #eaeaea;
    z-index: 1;
    display:none; 
    transform-origin: left top;
    animation: RiseUpSlidebar ease-in 0.3s;
    will-change: opacity, transform;
    
}

.slidebar__shop-sublist::before{
    content: "";
    position: absolute;
    border:11px solid;
    top: -21px;
    left: 523px;
    border-color: transparent transparent #eaeaea transparent;
    
}
.slidebar__shop-sublist::after{
    content: "";
    position: absolute;
    border:10px solid;
    top: -19px;
    left: 524px;
    border-color: transparent transparent #fff transparent;
    
}

.slidebar__shop-sublist-col{
    display: flex;
    padding: 20px 15px 20px 15px;
    margin-left: 0;

}

.slidebar__shop-col-item{
    width: 33.33%;
    list-style-type: none;
}

.slidebar__shop-col-item > h4 {
    width: 92%;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-bottom: 6px;
    border-bottom: 1px solid #eaeaea;
    color: #555;
    font-weight: bold;
    margin: 10px 15px 14px;
}

.slidebar__shop-list{
    margin-left: 0;
    padding: 0;
}

.slidebar__shop-list-item{
    list-style-type: none;
}



.slidebar__shop-list-link{
    text-decoration: none;
    padding: 2px 15px;
    font-size: 1.2rem;
    line-height: 24px;
    font-weight: 400;

    color: #333;
}

.slidebar__shop-list-link:hover{
    color:#e34444;
}

.slidebar_list-item-shop:hover .slidebar__shop-sublist{
      display: block;
}

/* ////////////CSS for sublist of blog ///////////////////////// */


.slidebar__blog-sublist{
    position: absolute;
    background-color: #fff; 
    width: 220px;
    padding:15px 0;
    top:50px;
    list-style-type: none;
    border: 1px solid #eaeaea;
    z-index: 1;
    display: none; 
    transform-origin: left top;
    animation: RiseUpSlidebar ease-in 0.3s;
    will-change: opacity, transform;
}



.slidebar__blog-sublist::before{
    content: "";
    position: absolute;
    border:11px solid;
    top: -21px;
    left: 6px;
    border-color: transparent transparent #eaeaea transparent;
    
}
.slidebar__blog-sublist::after{
    content: "";
    position: absolute;
    border:10px solid;
    top: -19px;
    left: 7px;
    border-color: transparent transparent #fff transparent;
    
}

.slidebar__blog-item{   
    width:100%;
    padding:4px 20px; 
}

.slidebar__blog-item-link{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight:400;
    width: 100%;
    line-height:20px;
    color: #555;
    box-sizing:content-box;
    
}

.slidebar__blog-item-icon{
    padding-left: 90px;
    color: #999; 
    font-size: 1.3rem;
    line-height: 20px;
    text-align: center;
}
.slidebar__blog-item-link:hover{
    color: #e34444;
} 

.slidebar__blog-last-item:hover .slidebar__blog-item-icon {
    color: #e34444;
}

.slidebar__blog-last-item:hover .slidebar__blog-item-hover {
    color: #e34444;
}
.slidebar__blog-last-item:hover .slidebar__post-sublist{
    display: block;
}


.slidebar_list-item-blog:hover > .slidebar__blog-sublist{
    display: block;
    
}

/* /////CSS for subsublist of blog////////////////////////////////////// */

.slidebar__post-sublist{
    position: absolute;
    background-color: #fff;
    width: 220px;
    padding:15px 0;
    top:186px;
    left:218px;;
    list-style-type: none;
    border: 1px solid #eaeaea;
    z-index: 1;
    display: none;
    transform-origin: left top;
    animation: RiseSlidebar ease-in 0.3s;
    will-change: opacity, transform;
}

@keyframes RiseSlidebar {
    from {
        top: 100%;
        opacity: 0;
    }

    to {
        top: 80%;
        opacity: 1;
    }
}

.slidebar__post-item{   
    width:100%;
    padding:4px 20px; 
}

.slidebar__post-item-link{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight:400;
    width: 100%;
    line-height:20px;
    color: #555;
    box-sizing:content-box;
    
}

.slidebar__post-item-icon{
    padding-left: 90px;
    color: #999;
    font-size: 1.3rem;
    line-height: 20px;
    text-align: center;
}
.slidebar__post-item-link:hover{
    color: #e34444;
} 
 

.slidebar_list-item-blog:hover > .slidebar__blog-sublist{
    display: block;
    
}

/* //////////////////////////////////////////////////////////////////////// */

/* /////////start css shortcodes/////////////////////////////// */
.slidebar__shortcodes-sublist{
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    border: 1px solid #eaeaea;
    z-index: 1;
    display:none; 
    transform-origin: left top;
    animation: RiseUpSlidebar ease-in 0.3s;
    will-change: opacity, transform;
    
}

.slidebar__shortcodes-sublist::before{
    content: "";
    position: absolute;
    border:11px solid;
    top: -21px;
    left: 650px;
    border-color: transparent transparent #eaeaea transparent;
    
}
.slidebar__shortcodes-sublist::after{
    content: "";
    position: absolute;
    border:10px solid;
    top: -19px;
    left: 651px;
    border-color: transparent transparent #fff transparent;
    
}

.slidebar__shortcodes-sublist-col{
    display: flex;
    height: 266px;
    padding-top: 20px;
    margin-left: 15px;
    padding-left: 0;
}

.slidebar__shortcodes-col-item{
    width: 100%;
    list-style-type: none;
}

.slidebar__shortcodes-col-item > h4 {
    width: 92%;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-bottom: 6px;
    border-bottom: 1px solid #eaeaea;
    color: #555;
    font-weight: bold;
    margin: 10px 15px 14px;
}

.slidebar__shortcodes-list{
    margin-left: 0;
    padding: 0;
}

.slidebar__shortcodes-list-item{
    list-style-type: none;
}



.slidebar__shortcodes-list-link{
    text-decoration: none;
    padding: 2px 15px;
    font-size: 1.3rem;
    line-height: 24px;
    font-weight: 400;
    color: #333;
}

.slidebar__shortcode-img-effect{
    width: 395px;
    height:245px;
    display: block;
    position: relative;
}

.slidebar__shortcodes-img{
    width: 100%;
    height: 100%;
    margin: 0;    
}
 


.slidebar__shortcodes-list-link:hover{
    color:#e34444;
}

.slidebar__list-item-shortcodes:hover .slidebar__shortcodes-sublist{
    display: block;
}



/* ///////////////start css effects for img of shortcode//////////////////// */
.slidebar__shortcode-img-effect:hover:before{
    right: 50%;
    left: 50%;
    background: rgba(255, 255, 255, 0.2);
}

.slidebar__shortcode-img-effect::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background-color:beige;  */
    transition: all 0.6s ease-in-out;
}

.slidebar__shortcode-img-effect:hover:after{
    top: 50%;
    bottom: 50%;
    background: rgba(255, 255, 255, 0.2);
}

.slidebar__shortcode-img-effect::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background-color:beige;  */
    transition: all 0.6s ease-in-out;
}

/* ///////////////end css effects for img of shortcode//////////////////// */
/* ///////////end css shortcodes//////////////////////////////////////// */

.slidebar__top-search{
    position: absolute;
    background: #fff;
    top: 5px;
    left: 0;
    width: 100%;
    line-height: 40px;
    height: 46px;
    opacity: 0;
    transform: scale(0);
    transition: all 0.06s ease;
    z-index: 999999; 
    display: block;
}

.slidebar__right-search:hover {
    cursor: pointer;
}
.slidebar__right-search:hover  +.slidebar__top-search{
    transform: scale(1);
    opacity: 1
} 
.slidebar__top-search:hover{
    transform: scale(1);
    opacity: 1
}
.slidebar__input-search{
    width: 100%;
    border: none;
    height: 48px;
    padding-right: 90px;
    padding-left: 20px;
    border: none;
    outline: none;

    background: #fff;
}

.slidebar__button-search::after{
    position: absolute;
    content: "";
    background: #eaeaea;
    width: 1px;
    height: 33px;
    top: 9px;
    left: 0;
}
.slidebar__button-search{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 20px;
    height: 50px;
    background: none !important;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #e34444;
}

.slidebar__button-search:hover {
    cursor: pointer;
}

.content {
height: 20000px;
overflow: auto;
}

/* //////start css content__banner/////////////////////// */

.content__section1{
}

.content__banner-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}

.content__banner-left{
    width:585px;
}

.content__left-figure{
    padding: 0;
    margin: 0;
    width:100%;
    position: relative;
}

.content__left-firgure-list{

}

.content__left-firgure-img{
    width: 100%;
    height: auto;
}

.content__banner-right{
    width:585px;
    height: auto;
}

.content__banner-right-top{
    height:257px;
    width:100%;
}

.content__right-top-link{
    position: relative;
    display: block;
    width: 100%;
    height:100%;
    overflow: hidden;
    background-color: #333;
    transition: all 0.25s ease;
}

.content__right-top-link{
    text-decoration: none;
    color: #e34444;
}

.content__right-top-link:hover:before{
    transform: scale(1);
    transition:all 0.3s ease-out 0s;
}
.content__right-top-link::before{
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    bottom: 15px;
    content: "";
    left: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
    transform: scale(0, 1);
}

.content__right-top-link:hover:after{
    transform: scale(1);
    transition:all 0.3s ease-out 0s;
}

.content__right-top-link::after{
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    bottom: 15px;
    content: "";
    left: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
    transform: scale(1, 0);
}

.content__right-top-img{
    width:100%;
    transition: all 0.3s ease;
}

.content__right-top-link:hover .content__right-top-img{
    opacity: 0.3;
}

.content__banner-right-bottom{
    display: flex;
    justify-content: space-between;
    

}

.content__banner-right-bottom-list{
    position: relative;
    bottom: -36px;    
}

.content__right-bottom-sofa{
    position: relative;
    display: block;
    width: 100%;
    height:100%;
    overflow: hidden;
    /* background-color: #333; */
}
.content__right-bottom-sofa:hover:before{
    right: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.content__right-bottom-sofa::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    transition: all 0.3s ease-out 0s;
}

.content__right-bottom-sofa:hover:after{
    left: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.content__right-bottom-sofa::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right:0;
    transition: all 0.3s ease-out 0s;
}

.content__right-bottom-img{
    width:277.5px;
    height:auto;
}

.content__right-bottom-chair{
    position: relative;
    display: block;
    width: 100%;
    height:100%;
    overflow: hidden;
    transition: all 0.25s ease;
}

.content__right-bottom-chair::before{
    background: url(../img/plus.png) no-repeat scroll center center / 60px 60px rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    transform: scale(0.4) rotateY(180deg);
    transition: all 0.4s ease 0s;
}

.content__right-bottom-chair:hover:before{
    opacity: 0.6;
    visibility: visible;
    transform: scale(1) rotate(0deg);
}

/* //////end css content__banner/////////////////////// */

/* /////////start css content left checkbox-select/////////// */
.content__left-firgure-checkbox{
    position: absolute;
    display: flex;
    z-index: 10;
    bottom: 10px;
    left:calc(50% - 52px);
}

.content__left-checkbox-select{
    width: 10px;
    height: 10px;
    border: 2px solid #6a6a6a;
    margin: 4px;
    box-sizing: content-box;
}
.content__left-checkbox-select:hover{
    border: 2px solid #e34444;
    background-color: #e34444;
}

/* /////////end css content left checkbox-select/////////// */

.left__content{
    overflow: auto;
}

.footer {
}
