.header {
    height:40px;
    background-color: #222;
}

.header_navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: auto 0px ; 
    display: flex; 
}

.header__navbar-item, .header__navbar-item-link{
    color: #f5f5f5;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    line-height:40px;
    position: relative;
    cursor: pointer;
}

.header__navbar-language-item:hover .header__subnav-language{ 
    display: block;
    
}

.header__navbar-currency-item:hover .header__subnav-currency-unit{
    display: block;
}

.header__navbar-item-link:hover{
    color: #e34444;
    cursor: pointer;
}

.header__navbar-item-link:hover i {
    color: #6f6f6f;
}

.header__navbar-img{
    margin-right: 4px;
}

.header__navbar-icon-select::before{
    content: "";
    display: block;
    position: absolute;
    margin-right: 7px;
    margin-top: -14px;
    margin-left: 3px;
}

.header__navbar-seperate{
    border-left: 1px solid #363636;
    box-sizing: border-box;
    position: absolute;
    height: 10px;
    left: -15px;
    top: 15px; 
}

.header__navbar-item--wall{
    margin: 0 20px;
}

.header__navbar-item--wall::after{
    content: "";
    display: block;
    position: absolute;
    height:40px;
    border-left: 1px solid #363636;
    top: 0px;
    left: -22px;    
} 

.header__navbar-item--wall-right::before{
    content: "";
    display: block;
    position: absolute;
    border-right: 1px solid #363636;
    height: 40px;
    top: 0px;
    right: -20px;   
} 

nav:first-child li:first-child{
    margin-right: 40px; 
}

.header_navbar-icon{
    margin-right:12px;
}

/* css for subnav///////////////////////////////////////////////////////////////////////// */
.header__subnav-language, .header__subnav-currency-unit{
    position: absolute;
    background-color: var(--white-color);
    width:96px;
    transform-origin: left top;
    animation: RiseUp ease-in 0.3s;
    will-change: opacity, transform;
    display:none;
    border: 2px solid #f5f5f5;
}

@keyframes RiseUp {
    from {
        top: 50px;
        opacity: 0;
    }

    to {
        top: 40px;
        opacity: 1;
    }
        
}

.header__subnav-language::before{
    content: "";
    position: absolute;
    border:10px solid;
    top: -18px;
    left: 18px;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__subnav-language::after, .header__subnav-currency-unit::before{
    content: "";
    position: absolute;
    width:96px;
    right:-2px;
    top:-30px;
    height:30px;
    /* background-color:red; */
}

.header__subnav-currency-unit::after{
    content: "";
    position: absolute;
    border:10px solid;
    top: -18px;
    left: 22px;
    border-color: transparent transparent var(--white-color) transparent;
}


.header__subnav-language-list, .header__subnav-currency-unit-list{
    padding: 0;
}

.header__subnav-language-item{
    
    padding:7px 0 7px 10px;
    width: 100%;
    list-style-type: none;
    line-height:19px;
}

.header__subnav-language-item:hover, .header__subnav-currency-unit-item:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

.header__subnav-language-img{
    width: 16px;
    height: 12px;
    margin-right: 2px;
    position: relative;
    top: 1px;
}

.header__subnav-language-text, .header__subnav-currency-name {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.header__subnav-currency-unit-item{
    padding:5px;
    width: 100%;
    list-style-type: none;
    line-height:19px;
}  

.header__subnav-language-item:hover, .header__subnav-currency-unit-item:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

.header__subnav-currency-unit-name{
    text-decoration: none;
    font-size: 1.2rem;
    color: #888;
}

.header__subnav-currency-unit-item{
    height: 20px;
    width:86px;
    background-color: var(--white-color);
    list-style-type: none;
    padding: 5px;
    box-sizing: content-box;
    line-height: 20px;
    text-transform: uppercase;
}

.header__subnav-arrow-unit{
    position: absolute;
    border:10px solid;
    top: 22px;
    left: 22px;
    border-color: transparent transparent var(--white-color) transparent;
} 

/* CSS slider/////////////////////////////////////////////////////////////////////////////// */
.slider {
    display: flex;
    justify-content: space-between;
    height: 118px;
    width:100%;
    background-color: var(--white-color);
}

.slider__logo{
    display: flex;
    align-items: center;
    
}

.slider__contain{
    display: flex;
    align-items: center;
    width:900px;
}

.slider__contain-list{
    padding-left:8px;
    list-style-type: none;
    display: flex;
    align-items: center;
    height:40px;
    width:33.3%;
    
}

.slider__contain-list-icon {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 100%;
    text-align: center;
    overflow: hidden;
    background: #eaeaea;
    margin-right: 12px;
}
.slider__contain-list-icon::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    background: #e34444; 
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s ease-in;
} 
.slider__contain-list:hover .slider__contain-icon{
    color: #fff;

}

.slider__contain-list:hover > .slider__contain-list-icon::after{
    transform: scaleY(1);
}



.slider__contain-icon{
    font-size: 1.2rem;
    position: relative;
    color: #666;
    height: 40px;
    top:14px;
    z-index: 1;
}

.slider_list-item{
    list-style-type: none;
    line-height: 40px;
}

.slider__list-text-name{
    display: block;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 20px;
    margin-top: -2px;
    margin-bottom: 4px;
    color: var(--text-color);
}

.slider_list-text-dec{
    color: var(--text-color);
    font-size: 1.2rem;
}


.slidebar {
height: 56px;
width: 100%;
background-color: bisque;
display: flex;
justify-content: space-between;
}

.slidebar__list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.slidebar__list-item{
    display:flex;
    padding:0 20px 0 0;
    list-style-type: none;
    height: 100%;
    align-items: center;
    margin-left: 10px; 
}

.slidebar__list li:first-child{
    margin-left: 0;
}

.slidebar__list-item:hover .slidebar__list-item-link{
    color: #e34444;
}

.slidebar__list-item-link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;

}

.slidebar__right{
    display: flex;

}

.slidebar__right-search{
    font-size: 1.2rem;
    line-height: 56px;
    color: #666;
    width:50px;
    text-align: center;
    
}


.slidebar__right-cart{
    display: inline-block;
    text-decoration: none;
    color: #666;
    font-size: 1.2rem;
    line-height: 56px;


}

.slidebar__right-number{
    
}

.slidebar__right-unit{
}


.content {

}

.footer {

}
